{:jvm-opts ["-Duser.language=en" "-Duser.country=US" "-Dfile.encoding=UTF-8"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:dev
  {:jvm-opts ["-ea"]
   :extra-paths ["dev" "test" "fixtures"]
   :extra-deps 
   {io.github.tonsky/duti {:git/sha "baecb77fee466b842e121d04a3e279af85f22e16"
                           #_#_:local/root "/Users/tonsky/ws/duti"}}}}}